# Red neuronal RNN
### Introducción y objetivo
## Descripción del problema a resolver
Se desea tener la capacidad de poder predecir el tiempo con respecto a datos anteriores, los cuales tomará en cuenta para la predicción de datos posteriores.

### Porqué la elección del dataset
Me parecio interesante poder predecir el clima con base a data ya previamente establecida. A pesar de que el dataset es simple y con pocos datos, creo que tiene los suficinetes como para hacer una predicción lo suficienteme certera.

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix

2025-12-10 07:26:50.825872: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-12-10 07:26:50.840856: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-12-10 07:26:51.428533: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-12-10 07:26:52.660180: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-12-10 07:26:52.663130: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.

## Exploración de datos (EDA)
### Carga de dataset y visualización de los datos
Ahora, hacemos importación de los datos de entrenamiento y hacemos una impresion de las primeras 5 lineas solo para verificar vagemente el estado de lo mismos.

In [2]:
df = pd.read_csv("datasets/seattle-weather.csv")
df.head(5)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

### Estadística descriptiva
Tambien encontramos cierta data informativa de los mismos. Vemos que tenemos un dataset de 48,842 datos y tenemos una cantidad de 37,155 datos que ganan menos de 50K y 11,687 que ganan mas que eso.

In [3]:
def print_category_counts(df, column):
    counts = df[column].value_counts()
    print(f"Conteo de columna {column}:")
    print(counts)

print("Total de datos:", len(df))
print_category_counts(df, 'weather')

Total de datos: 1461
Conteo de columna weather:
weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64